### CMake
build/
cmake-build-debug/
cmake-build-release/

### IDEs
.idea/

### Logs
*.log

### Python venv
venv/


### Binaries ###
bin/Editor
bin/shaders/
bin/imgui.ini

### Assets ###
assets/textures
assets/models