### CMake
build/
cmake-build-debug/
cmake-build-release/

### IDEs
.idea/

### Logs
*.log

### Python venv
venv/

### Binaries ###
bin/Editor
bin/shaders/
bin/imgui.ini
bin/Game

### Assets ###
assets/textures
assets/models

### Window ###
bin/Release/
bin/Debug/

### Zip ###
*.zip